/* .container {
  max-width: 700px;
  margin: 40px auto;
  padding: 32px;
  background: var(--surface);
  border-radius: var(--radius);
  box-shadow: var(--shadow-md);
} */

h2 {
	margin-bottom: 24px;
	align-items: center; 
	justify-content: center;
}

button[mat-raised-button] {
	margin-top: 16px;
	width: 100%;
	padding: 8px;
	font-size: 16px;
}

.highlights-section {
	margin-bottom: 24px;
}

.edit-highlight-input {
	width: 100%;
	padding: 4px;
	border: 1px solid var(--primary);
	border-radius: 4px;
}
